<!DOCTYPE html>
<html>
<head>
  <title>On-line стратегия</title>
  
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta charset="utf-8" />
	<link rel="stylesheet" href="/css/leaflet.css" />
	<link rel="stylesheet" href="/css/style.css" />
    
</head>
    <body>
        {% block wrap %} {% endblock %}
            
        <hr />
                
                <div class="title"><h3 class="grad rad2">Online стратегия</h3></div>
                
                
        <hr size="3" />
        
    </body>
</html>