body
{
    background-image: url(/img/bg/2.jpg);
    /*text-align: center;*/
}

#map
{
    position: relative;
}


 .title h3
{
    font-size: 0.6em;
}

.font-response
{
    font-size: 0.5em
}

@media screen and (min-width: 320px)
{
    #map
    {
    	width: 320px; 
        
    }
    
    
    
     .title h3
    {
        font-size: 0.8em;
    }
    
    .font-response
    {
        font-size: 0.6em;
    }
}


@media screen and (min-width: 480px)
{
    #map
    {
    	width: 480px; 
        
    }
    
   
    
     .title h3
    {
        font-size: 0.9em;
    }
    
    .font-response
    {
        font-size: 0.7em;
    }
}

@media screen and (min-width: 640px)
{
    #map
    {
    	width: 640px; 
        
    }
    
   
    
     .title h3
    {
        font-size: 1.0em;
    }
    
    .font-response
    {
        font-size: 0.7em;
    }
}

@media screen and (min-width: 800px)
{
    #map
    {
    	width: 800px; 
        
    }
    
    
    
     .title h3
    {
        font-size: 1.1em;
    }
    
    .font-response
    {
        font-size: 0.7em;
    }
}

@media screen and (min-width: 960px)
{
    #map
    {
    	width: 960px; 
        
    }
    
    
    
     .title h3
    {
        font-size: 1.2em;
    }
    
    .font-response
    {
        font-size: 0.7em;
    }
}

@media screen and (min-width: 1020px)
{
    #map
    {
    	width: 1020px; 
    }
    
    
    
     .title h3
    {
        font-size: 1.4em;
    }
    
    .font-response
    {
        font-size: 0.8em;
    }
}


@media screen and (min-width: 1240px)
{
    #map
    {
    	width: 1240px; 
        
    }
    
    
    
     .title h3
    {
        font-size: 1.4em;
    }
    
    .font-response
    {
        font-size: 0.9em;
    }
}

@media screen and (min-height: 320px)
{
    #map
    {
    	height: 320px; 
    }
    
}

@media screen and (min-height: 480px)
{
    #map
    {
    	height: 480px; 
    }
}

@media screen and (min-height: 640px)
{
    #map
    {
    	height: 640px; 
    }
}

@media screen and (min-height: 760px)
{
    #map
    {
    	height: 760px; 
    }
    
}

@media screen and (min-height: 800px)
{
    #map
    {
    	height: 800px; 
    }
    
}

@media screen and (min-height: 850px)
{
    #map
    {
    	height: 850px; 
    }
    
}


@media screen and (min-height: 968px)
{
    #map
    {
    	height: 968px; 
    }
    
}

@media screen and (min-height: 1020px)
{
    #map
    {
    	height: 1020px; 
    }
    
}




#wrap-start
{
    background: rgba(0, 0, 0, 0.9);
    height: 100%;
    position: fixed;
    width: 100%;
    z-index: 9999;
    top: 0;
    left: 0;   
}

#start
{
    position: fixed;
    top: 50%;
    left: 50%;
    margin-left: -200px;
    margin-top: -250px;
    width: 400px;
    height: 500px;
    position: fixed;
    background-image: url(/img/bg/1.jpg);
    opacity: 1.0;
    border-radius: 10px;
    font-family: Verdana;
    font-size: 18px;
    color: #fff;
    
    text-align: center;    
}

#start table
{
    width: 85%;
}

#start input, #start select 
{
    font-size: 18px;
    border-radius: 5px;
    width: 150px;
} 

#start button
{
    font-size: 18px;
    border-radius: 5px;
    width: 200px;
    margin: 20px auto 20px auto;
}

.control-block
{
    width: 12%;
    position: absolute;
    background-color: #eee;
    padding: 10px;
    border-radius: 7px;
    overflow: hidden;
    
}


.btn-block
{
    top: 10%;
    left: 20px;
    padding-bottom: 10px
    
}

.log-block
{
    bottom: 100px;
    left: 20px;
    height: 20%;
    padding-bottom: 10px; 
}

.weather-block
{
    bottom: 400px;
    left: 20px;
    height: 20%;
    padding-bottom: 10px; 
}

.info-block
{
    top: 10%;
    right: 30px;
    height: 60%;
    padding-bottom: 10px
}


.hide
{
    height: 17px;  
}



.log-message
{
    margin-top: 10px;
    width: 100%;
    height: 80%;
    background-color: #000;
    color: #ccc;
    overflow: scroll;
    font-family: Verdana;
    text-align: left;
    
}


.info-message
{
    margin-top: 10px;
    width: 100%;
    height: 80%;
    background-color: #000;
    color: #ccc;
    overflow: scroll;
    font-family: Verdana;
    text-align: left; 
}

.btn
{
	padding: 5px;
    margin: 2px 1px 2px 1px;
	font-family: Verdana;
	z-index:2;
    width: 100%;
}

label
{
    font-family: Verdana;
}

.control-block label.text-hover
{
    margin: 0 auto 14px auto;
    cursor: pointer;
    text-decoration: underline;
    display: block;
    width: 100%;
}

.control-block
{
    display: none;
}

.control-block label
{
    margin: 0 auto 0 auto;
    display: block;
    width: 130px; 
    float:left;
}

.text-hover:hover
{
    color: #aaa;
}

.grad
{
    background: linear-gradient(to top, #b5bdc8 0%, #828c95 36%, #28343b 100%);
}

.grad2
{
    background: linear-gradient(to top, #e5edf8 0%, #b2bcc5 36%, #58646b 100%);
}

.rad
{
    border-radius: 5px;
}

.rad2
{
    border-radius: 20px;
}

hr
{
    color: #ccc;
}

.title
{
    position: absolute;
    top: 10px;
    left: 50%;
    width: 30%;
    margin-left: -15%; 
    text-align: center;
    z-index: 2;
    
}

.title h3
{
    
    color: #fff;
    font-family: Verdana;
   
}

.unit-info
{
    display: none;
    border-radius: 10px;
    position: absolute;
    top: 10px;
    left: 50px;
    background-color: #E2C05A;
    font-family: Verdana;
    padding: 10px;
}

.game-over
{
    display: none;
    border-radius: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -150px;
    margin-left: -200px;
    background-color: #E2C05A;
    font-family: Verdana;
    padding: 10px;
    width: 400px;
    height: 300px;
    font-size: 3em;
    text-align:center;
}

.game-over label
{
    cursor: pointer;
    color: red;
}

#preloader
{
	position: absolute;
	top: 50%;
	left: 50%;
    margin-left: -100px;
    margin-top: -100px;
	z-index:1;
	display:none;
}

.mission-label
{
   margin: 10px auto 0 auto;
   font-family: Verdana;
   color: #333;
}

.mission-label:hover
{
   color: #555;
}

.cursor
{
    cursor: pointer;
}

.mission-info
{
    display: none;
    border-radius: 10px;
    position: absolute;
    top: 10px;
    left: 50px;
    background-color: #E2C05A;
    font-family: Verdana;
    padding: 10px;
}

.mission-desc
{
    height:  100px;
    overflow: auto;
    background-color: #e2a447;
    font-size: 0.5em;
    color: #333;
    border-radius: 10px;
    margin: 0 0 0 10px;
}

.weather-info
{
    display: none;
    position: absolute;
    bottom: 0px;
    left: 0px;
    height: 30px;
    width: 100%;
    background-color: #eee;
    opacity: 0.6;
    text-align: center;
    padding-top: 20px;
}
 